.review-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.css-k8e052{
    max-width: 90% !important;
    margin: auto !important;
    width: 100% !important;
}

@media(max-width:567px){
.order-listing-btn{
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
}
}