.cart-listing-border{
    border: 1px solid #D9D9D9;
    font-family: "Josefin Slab", serif;
    font-style: italic;
}

.cart-items{
    border-bottom: 1px solid #D9D9D9;
}

.cart-items .img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.cart-items .product-cart-image{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.cart-product-details{
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Josefin Slab", serif;
    font-style: italic;
}

.btn-checkout{
    width: 200px;
    border: 1px solid #BF3900;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

.btn-checkout:hover{
    background:  #BF3900;
    color: white;
}

.qty-delete-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.qty-delete-section .qty{
    border: 1px solid #D9D9D9;
    height: 40px !important;
}

@media(max-width:567px){
    
    .cart-items .img-section{
        padding: 10px;
    }
    .qty-delete-section{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}